<div class="w-full border-gray-100 shadow p-4 rounded">
  <div class="w-full flex flex-row items-center justify-between gap-4">
    <div class="flex flex-col gap-2">
      <h2
        class="text-lg text-[#1A2856] font-semibold leading-none tracking-tight"
      >
        Antonio Manuel Siqueira
      </h2>
      <p class="text-sm text-muted-foreground font-light">
        Gerado em 14/08/2025
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <button z-button zType="secondary" zSize="sm">
        <span class="text-xs">Ver</span>
      </button>
    </div>
  </div>
</div>
